@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
header {
    position: fixed;
    height: 98px;
    background-color: #4F4F4F;
    left: 0px;
    width: 1920px;
}

.logo{
    position: absolute;
width: 99px;
height: 66px;
left: 393.5px;
top: 13.5px;


}

.search {
    position: absolute;
width: 30px;
height: 30px;
left: 323px;
top: 34px;
}